include LICENSE
include README.md
recursive-include flask_semanticui/static *
recursive-include flask_semanticui/templates *.html
recursive-include flask_semantic_ui *.css
recursive-include flask_semantic_ui *.eot
recursive-include flask_semantic_ui *.html
recursive-include flask_semantic_ui *.js
recursive-include flask_semantic_ui *.map
recursive-include flask_semantic_ui *.otf
recursive-include flask_semantic_ui *.png
recursive-include flask_semantic_ui *.svg
recursive-include flask_semantic_ui *.ttf
recursive-include flask_semantic_ui *.woff
recursive-include flask_semantic_ui *.woff2

exclude tox.ini
exclude pyproject.toml
exclude *.model 
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude res *