include LICENSE
include README.md
recursive-include flask_semantic *.css
recursive-include flask_semantic *.eot
recursive-include flask_semantic *.html
recursive-include flask_semantic *.js
recursive-include flask_semantic *.map
recursive-include flask_semantic *.otf
recursive-include flask_semantic *.png
recursive-include flask_semantic *.py
recursive-include flask_semantic *.svg
recursive-include flask_semantic *.ttf
recursive-include flask_semantic *.woff
recursive-include flask_semantic *.woff2


exclude tox.ini
exclude pyproject.toml
exclude *.model 
recursive-exclude tests *
recursive-exclude sample_app *
recursive-exclude testscopia *
recursive-exclude docs *
recursive-exclude res *