include LICENSE
include README.md
include *.model
recursive-include flask_semanticui/static *
recursive-include flask_semanticui/templates *.html

exclude tox.ini
exclude pyproject.toml
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude res *